.container{
    display:grid;
    grid-template-columns: auto auto auto;
    background-color:blue;
    padding:20px;
    gap:10px;
}
.container div{
    padding:10px;
    background-color:lightgray;
    font-size:20px;
    text-align:center;

}