.container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    background:blue;
    padding:10px;
    gap:5px;
}
.container div{
    background:lightgray;
    padding:10px;
    text-align:center;
    font-size:30px;
}
.item1{
    grid-column-start:1;
    grid-column-end:3;  /*only first item change 3-1=2 column*/
    /* shorthand property for grid-column-start,grid-column-end */
    grid-column:1/ span 2;
}